@import 'fonts.css';
@import 'certificate.css';
* {
    font-family: 'montserrat-medium';
}

h1 {
    font-family: 'montserrat-extraBold';
}

a {
    font-family: 'montserrat-medium' !important;
    font-weight: 600 !important;
}

.primary-color {
    color: #414E9C !important;
}

.secondary-color{
    color: #FF5C33 !important;
}
.primary-bg-color {
    background-color: #414E9C !important;
}

@media screen and (max-width: 768px) {
    footer {
      position: relative !important;
    }
    .logo {
        letter-spacing: 0px !important;
        font-size: 1em !important;
        color: white !important;
        opacity: 0;
    }
    .questionsContainer {
        max-width: 80% !important;
    }
    .table-container {
        max-width: 80% !important;
    }
    .best-table{
        max-width: 80% !important;
    }
    

}

.bg {
    position: absolute;
    top: 0;
    z-index: -1;
}
.bg img {
    width: 100%;
    height: auto;
}

.logo {
    letter-spacing: 10px;
    font-size: 1.3em;
    font-family: 'montserrat-extraBold' !important;
}

li {
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
    margin-right: 10px;
    text-decoration: none;
}

li a:hover {
    color: #414E9C !important;
}

li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #414E9C;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
}

li:hover::after {
    transform: scaleX(1);
}

#answers li {
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}
.question li {
    background-color: #b4badc;
    padding: 10px !important;
    border-radius: 50px;
}
.questionsContainer {
    max-width: 50%;
}
.table-container {
    max-width: 50%;
}

.best-table{
    max-width: 60%;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
footer a {
    border-radius: 100% !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2) !important;
}