<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} | ZEKAMETRE </title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/scripts.js"></script>
</head>

<body>
    <div class="bg">
        <img src="/static/images/bg.png" alt="" class="img-fluid" id="bg-img">
    </div>
    <nav class="navbar navbar-expand-lg bg-transparent p-4">
        <a class="navbar-brand logo text-uppercase text-white" href="/">zekametre</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Anasayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/eniyiler">En İyiler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sorular">Teste Başla</a>
                </li>
                {{#if isLogin}}
                <li class="nav-item">
                    <a class="nav-link" href="/user/scores">Puanlarım</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/certificate/my"><i class="fas fa-star"
                            style="margin-right: 10px;"></i>Sertifikalarım</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/logout">Çıkış Yap<i class="fas fa-sign-in-alt"
                            style="margin-left: 10px;"></i></a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/user/login">Giriş Yap<i class="fas fa-sign-in-alt"
                            style="margin-left: 10px;"></i></a>
                </li>
                {{/if}}
            </ul>
        </div>
    </nav>

    <div class="4">
        {{{body}}}
    </div>

    <footer class="bg-light text-center text-white mt-5">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn text-white btn-floating m-1" style="background-color: #3b5998;" href="#!" role="button"><i
                        class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a class="btn text-white btn-floating m-1" style="background-color: #55acee;" href="#!" role="button"><i
                        class="fab fa-twitter"></i></a>

                <!-- Google -->
                <a class="btn text-white btn-floating m-1" style="background-color: #dd4b39;" href="#!" role="button"><i
                        class="fab fa-google"></i></a>

                <!-- Instagram -->
                <a class="btn text-white btn-floating m-1" style="background-color: #ac2bac;" href="#!" role="button"><i
                        class="fab fa-instagram"></i></a>

                <!-- Linkedin -->
                <a class="btn text-white btn-floating m-1" style="background-color: #0082ca;" href="#!" role="button"><i
                        class="fab fa-linkedin-in"></i></a>
                <!-- Github -->
                <a class="btn text-white btn-floating m-1" style="background-color: #333333;" href="#!" role="button"><i
                        class="fab fa-github"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright:
            <a class="text-white" href="">zekametre.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <script>
        function toggleNavbar() {
  const navbar = document.getElementById('navbarNav');
  navbar.classList.toggle('show');
}

const navbarToggler = document.querySelector('.navbar-toggler');
navbarToggler.addEventListener('click', toggleNavbar);

    </script>
</body>

</html>